extends layout

block title
  title Mayor Admin
  meta(name="description",content="Mayor")

block style

block content
  header
  div.contnt
    p "Phase"
      select#phase
        option(value="pre") Pre
        option(value="on") On
        option(value="post") Post
    p "R"
      input(type='color')#color1
    p "G"
      input(type='color')#color2
    p "B"
      input(type='color')#color3
    p "interval"
      input(type='number', min='0', max='10000', value='1000')#interval
  footer

block scripts
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16)
      } : null;
    }
    function elementToMessage(element, interval, phase){
      elementValue = element.val();
      rgb = hexToRgb(elementValue)
      return {
              'phase':phase,
              'r': parseInt(rgb.r),
              'g': parseInt(rgb.g),
              'b': parseInt(rgb.b),
              'interval': interval
          }
    }
    function componentToHex(c) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }
    jQuery(function($) {
      var socket = io.connect();

      var $color1 = $('#color1');
      var $color2 = $('#color2');
      var $color3 = $('#color3');
      var $interval = $('#interval');
      var $phase = $('#phase');

      socket.on('colorState', function(message) {
        console.log(message)
        colors = [$color1, $color2, $color3]
        for (var i = 0; i < message.length; i++) {
            var color = message[i]
            var colorInput = colors[i]
            var colorHextValue = rgbToHex(color.r, color.g, color.b)
            colorInput.val(colorHextValue)
          }
        $interval.val(message[0].interval)
      });

      


      $(document).keyup(function(e) {
        console.log(e.which)
        if (e.which == 13) {
          message1 = elementToMessage($color1, parseInt($interval.val()), $phase.val())
          message2 = elementToMessage($color2, parseInt($interval.val()), $phase.val())
          message3 = elementToMessage($color3, parseInt($interval.val()), $phase.val())

          message = [
              message1, message2, message3
          ]
          socket.emit('colorState', message);
        }
      });
    });
