extends layout

block title
  title Mayor Admin
  meta(name="description",content="Mayor")

block style

block content
  header
  div.contnt
    p "R"
      input(type='number', min='0', max='255', value='0')#R
    p "G"
      input(type='number', min='0', max='255', value='0')#G
    p "B"
      input(type='number', min='0', max='255', value='0')#B
    p "interval"
      input(type='number', min='0', max='10000', value='0')#interval
  footer

block scripts
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    jQuery(function($) {

    var socket = io.connect();
    var $r = $('#R');
    var $g = $('#G');
    var $b = $('#B');
    var $interval = $('#interval');

      $(document).keyup(function(e) {
        console.log(e.which)
        switch(e.which) {
          case 81: // q
            $r.val(parseInt($r.val()) + 10)
            break;
          case 87: //w 
            $g.val(parseInt($g.val()) + 10)
            break;
          case 69: // e
            $b.val(parseInt($b.val()) + 10)
            break;
          case 82: // r
            $interval.val(parseInt($interval.val()) + 100)
            break;
          case 65: // a
            $r.val(parseInt($r.val()) - 10)
            break;
          case 83: // s
            $g.val(parseInt($g.val()) - 10)
            break;
          case 68: //d
            $b.val(parseInt($b.val()) - 10)
            break;
          case 70: //f
            $interval.val(parseInt($interval.val()) - 100)
            break;
        }
        message = {
              'r': $r.val(),
              'g': $g.val(),
              'b': $b.val(),
              'interval': $interval.val()
          }
          socket.emit('colorState', message);
      });
    });
