extends layout

block title
  title Mayor
  meta(name="description",content="Mayor")

block style

block content
  header
  div#content
  footer

block scripts
  script(type="text/javascript").
    var content = document.getElementById('content');
    //- if(Math.random()<0.5){
    //-   body.style.cssText = "background-color:#f00"
    //- }else{  
    //-   body.style.cssText = "background-color:#00f"
    //- }
    //- setInterval(function(){
    //-   if(Math.random()<0.5){
    //-     body.style.cssText = "background-color:#f00"
    //-   }else{
    //-     body.style.cssText = "background-color:#00f"
    //-   }
    //- },2000)
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    var room = Math.floor(Math.random()*3)
    var beatInterval;
    function changeColor(data){
      content.style.cssText = "background-color:rgb("+data[room].r+','+data[room].g+','+data[room].b+');';
    }
    function setBeat(data){
      var d=0;
      clearInterval(beatInterval);
      beatInterval = setInterval(function(){
        d += 10;
        var delta = Math.PI*d/data[room].interval;
        content.style.opacity = Math.sin(delta)*Math.sin(delta)
      },10)
    }
    var socket = io.connect('http://'+window.location.hostname);
    socket.on('colorState', function (data) {
      console.log(data);
      changeColor(data)
      setBeat(data)
    });
